<!DOCTYPE html>
<html>
  <head>
    <title>Reliance Digital Offer</title>
    <meta name="description" content="{{ page.description }}">
    <style>
      html {
        background: #F17633 url({{ page.img }});
        background-size:     cover;                     
        background-repeat:   no-repeat;
        background-position: 0% 0%;
      }
    </style>
  </head>
  <body>
  </body>
</html>
